<ul>
	<% @cartitem.all.each do |cart_item| %>
		<li>
			Product Name: <%= cart_item.product.product_name %><br>
			Description: <%= cart_item.product.description %><br>
			Price: <%= cart_item.product.price %><br>
			<div >   
				<label>Quantity:</label>   
				<%= number_field_tag 'quantity' , cart_item.quantity ,id: cart_item.id , min: 0, class:"my-select-box" %>   
			</div><br>

			<div>   
				<label>Item Price:</label>   
					<td class="item-price-<%= cart_item.id %>"><%= number_to_currency(cart_item.total_price) %></td>
			</div><br>

			<div>
				<%=  link_to "Add quantity", cart_item_add_path(:id => cart_item), method: :post, class:"bg-blue-500 hover:bg-blue-700 text-white py-2 px-2 rounded"%>  
				<%= link_to "Reduce quantity", cart_item_reduce_path(:id => cart_item), method: :post, class:"bg-blue-500 hover:bg-blue-700 text-white py-2 px-2 rounded" %>
			</div><br>
        <%= link_to "Remove item" ,cart_item_path(cart_item) , method:  :delete, class:"bg-blue-500 hover:bg-blue-700 text-white py-2 px-2 rounded" %>
	 </li>
	<% end %>
</ul>
